# # 本地调试示例
# :5173 {


#         encode zstd gzip

#         header +Cache-Control "max-age=0, private, must-revalidate"

#         # 保留 /api 前缀
#         # handle_path /api/* {
#         #         rewrite * {path}
#         #         reverse_proxy 192.168.3.19:3000
#         # }

#         handle_path /api/* {
#                 # reverse_proxy 192.168.3.19:3000
#                 rewrite * /api{path}
#                 reverse_proxy 192.168.1.6:8082
#         }


#         uri strip_suffix /

#         root * /app/frontend/web/dist

#         handle {


#                 templates
#                 try_files {path}.html {path} /
#                 file_server
#         }

# }


# 用于证书测试
# {
#         acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
# }

# 线上
docs.wangx.com {


        encode zstd gzip

        header +Cache-Control "max-age=0, private, must-revalidate"

        # 保留 /api 前缀
        # handle_path /api/* {
        #         rewrite * {path}
        #         reverse_proxy 192.168.3.19:3000
        # }

        handle_path /api/* {
                # rewrite * /{path.1}   # 重写去掉 /api 前缀
                rewrite * /api{path}
                # reverse_proxy 47.98.248.76:8082
                reverse_proxy 172.28.49.109:8082
        }


        uri strip_suffix /

        root * /app/frontend/web/dist

        handle {


                templates
                try_files {path}.html {path} /
                file_server
        }

}